
<div *ngIf="ticket">
    <h2><span>Ticket</span> {{ticket.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{ticket.title}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{ticket.description}}</span>
        </dd>
        <dt><span>Due Date</span></dt>
        <dd>
            <span>{{ticket.dueDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Done</span></dt>
        <dd>
            <span>{{ticket.done}}</span>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="ticket.project">
                <a [routerLink]="['/project', ticket.project?.id]">{{ticket.project?.name}}</a>
            </div>
        </dd>
        <dt><span>Assigned To</span></dt>
        <dd>
            {{ticket.assignedTo?.login}}
        </dd>
        <dt><span>Label</span></dt>
        <dd>
            <span *ngFor="let label of ticket.labels; let last = last">
                <a [routerLink]="['/label', label?.id ]">{{label.label}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ticket/'+ ticket.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
